#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* CSS HEX */
  --eggshell: #f4f1deff;
  --burnt-sienna: #e07a5fff;
  --delft-blue: #3d405bff;
  --cambridge-blue: #81b29aff;
  --sunset: #f2cc8fff;

  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h1, h3 {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--delft-blue);
  color: var(--eggshell);
  height: 3rem;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  color: black;
  height: 5rem;
  background-color: var(--burnt-sienna);
}

ul > a > li {
  color: var(--burnt-sienna);
  display: inline;
  padding: 0 1rem;
}

.section1,
.section2,
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

/* Section -- WEBSHOP -- */
.section1 {
  color: var(--delft-blue);
  background-color: var(--sunset);
}

/* Section -- WEBSHOP -- */
.section2 {
  color: var(--eggshell);
  background-image: linear-gradient(286deg,#a4508b 0%,#5f0a87)!important;
}

.img-carousel {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.img-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  position: relative;
}
.img-card1,
.img-card2,
.img-card3 {
  height: 4rem;
  width: 4rem;
}

.img-card1:hover,
.img-card2:hover,
.img-card3:hover {
  background-color: yellow;
}

.img-card1 {
  transform: rotate(-30deg);
  background-color: red;
  position: relative;
  top: 0; left: 20px;
}
.img-card1:hover {
  transform: rotate(-30deg) scale(1.15);
}

.img-card2 {
  transform: rotate(0deg);
  background-color: green;
  position: relative;
  top: 20; left: -30px;
}
.img-card2:hover {
  transform: rotate(0deg) scale(1.15);
}

.img-card3 {
  transform: rotate(30deg);
  background-color: blue;
  position: relative;
  top: 40; left: -80px;
}
.img-card3:hover {
  transform: rotate(30deg) scale(1.15);
}

/* duo project */
.section3 {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.package-tracker-container {
  background-color: whitesmoke;
  width: 50vw;
}
.quote-machine-container {
  background-color: blue;
  width: 50vw;
}

.footer {
  height: 8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  color: var(--burnt-sienna);
  background-color: var(--delft-blue);
}